:root{
    --main-bg-color: #224851;
    --gray-color:rgba(0,0,0,0.5);
    --btn-color:#C0FF00;
    color: #224851;
}
.header{
    background-color: #224851;
    height: 10vh;
} 
body{
    box-sizing: content-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
     color: #224851;
     overflow: hidden;
}
.spinner-border{
    width: 7rem;
    height: 7rem;
    border: 0.5em solid currentColor;
    border-right-color:gray;
}
.bitgreen-container{
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: auto;
}
.arrow-icon{
    transform: translateY(-3px);
}
.payment-container{
     
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    border: 3px solid black;

    border-image-source: url(./img/border.png);
   border-image-outset: 5;
}

.footer{ 
    bottom: 0;
    padding: 10px;
    height: 20%;
}
.subtitle{
    font-size: medium;
    color: rgba(0, 0, 0, 0.5);
}

.dollar {
    font-weight: 600;
    font-size: 1.6rem;
    margin-left: 8px; 
}
 .decimals {
    position: relative;
    font-weight: 400;
    font-size: 1.3rem;
    top: -12px;
}
.suffix{
    position: relative;
    bottom: 0;
    font-weight: 400;
    font-size: 16px;
}
.crypto-btn{
    border-radius: 5px;
    border: 3px solid var(--main-bg-color );
    color: var(--main-bg-color);
    width: 47%;
}
.crypto-btn:hover{
    background-color: #a4cad1;
    color: white;
    cursor: pointer;
}
.crypto-btn:hover .subtitle-btn{
   color: white;
}
.alert-wallet{
    border: 1px solid var(--main-bg-color);
    border-radius: 3px;
    margin:0;
}
.description{
line-height: 1;
  
  display: inline;
}
 
#transaction-btn{
    border: 0;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    background-color: var(--btn-color);
    cursor: pointer;
}

 
 
@media only screen and (min-width: 300px) {
   
.spinner-border{
    width: 3rem;
    height: 3rem;
    border: 0.5em solid currentColor;
    border-right-color:gray;
}
 
}

@media screen and (min-width: 600px) {
 .spinner-border{
    width: 3rem;
    height: 3rem;
    border: 0.5em solid currentColor;
    border-right-color:gray;
} 
}

@media screen and (min-width: 750px) {
 .spinner-border{
    width: 3rem;
    height: 3rem;
    border: 0.5em solid currentColor;
    border-right-color:gray;
} 
 
}

@media screen and (min-width: 1025px) {
 .spinner-border{
    width: 5rem;
    height: 5rem;
    border: 0.5em solid currentColor;
    border-right-color:gray;
} 
 
}

@media screen and (min-width: 1400px) {
 .spinner-border{
    width: 7rem;
    height: 7rem;
    border: 0.5em solid currentColor;
    border-right-color:gray;
} 
 
}