:root {
  --main-bg-color: #224851;
  --gray-color: rgba(0, 0, 0, 0.5);
  --btn-color: #C0FF00;
  color: #224851;
}

.header {
  background-color: #224851;
  height: 10vh;
}

body {
  box-sizing: content-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: #224851;
  overflow: hidden;
}

#btn-stripe {
  background-color: #224851;
  border-radius: 4px;
  color: white;
  width: 100%;
  font-size: large;
  border: 3px solid var(--main-bg-color);
  cursor: pointer;
}

.spinner-border {
  width: 7rem;
  height: 7rem;
  border: 0.5em solid currentColor;
  border-right-color: gray;
}

.bitgreen-container {
  display: flex;
  flex-direction: column;
  height: 70%;
  overflow-y: auto;
}

.arrow-icon {
  transform: translateY(-3px);
}

.payment-container {

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  border: 3px solid black;

  border-image-source: url(./img/border.png);
  border-image-outset: 5;
}

.footer {
  bottom: 0;
  padding: 10px;
  height: 20%;
}

.subtitle {
  font-size: medium;
  color: rgba(0, 0, 0, 0.5);
}

.dollar {
  font-weight: 600;
  font-size: 1.6rem;
  margin-left: 8px;
}

.decimals {
  position: relative;
  font-weight: 400;
  font-size: 1.3rem;
  top: -12px;
}

#close_btn {
  padding: 0px 21px;
  line-height: 44px;
  background: #224851;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border: 0px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

#close_btn:hover {
  background: #2a5964;
}

.suffix {
  position: relative;
  bottom: 0;
  font-weight: 400;
  font-size: 16px;
}

.crypto-btn {
  border-radius: 5px;
  border: 3px solid var(--main-bg-color);
  color: var(--main-bg-color);
  width: 47%;
}

.crypto-btn:hover {
  background-color: #a4cad1;
  color: white;
  cursor: pointer;
}

.crypto-btn:hover .subtitle-btn {
  color: white;
}

.powered_by_stripe {
  color: #635BFF;
  border: 1px solid #635BFF;
  border-radius: 4px;
  padding: 1px;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}

.powered_by_stripe b {
  font-size: 14px;
}

h5.powered_by_stripe {
  font-size: large;
  margin-top: 32px;
  padding: 10px;
}

h5.powered_by_stripe b {
  font-size: large;
}

.alert-wallet {
  border: 1px solid var(--main-bg-color);
  border-radius: 3px;
  margin: 0;
}

.description {
  line-height: 1;

  display: inline;
}

#transaction-btn {
  border: 0;
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
  background-color: var(--btn-color);
  cursor: pointer;
}

.receipt {
  max-width: 400px;
  margin: 22px auto;
  width: 100%;
}
.receipt > div {
  background: #f7f9fc;
  padding: 7px 16px;
  border-radius: 10px;
}
.receipt > div h6 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ecf0f5;
  padding-bottom: 10px;
}
.receipt > div p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
/* The Modal (background) */
.modal-wallet {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  border-radius: 4px;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content-wallet {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 10px;
  width: 600px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}


.modal-header-wallet {
  padding: 2px 16px;
  background-color: #224851;
  color: white;
  width: 100% !important;
  height: 15%;
  min-height: 176px;
}

.modal-body-wallet {
  padding: 30px 19px;
  overflow-y: auto;
  flex: 1;
}

.modal-footer-wallet {
  padding: 2px 16px;
  width: 100%;
  height: 50px;
}


@media only screen and (min-width: 300px) {

  .spinner-border {
    width: 3rem;
    height: 3rem;
    border: 0.5em solid currentColor;
    border-right-color: gray;
  }

}

@media screen and (min-width: 600px) {
  .spinner-border {
    width: 3rem;
    height: 3rem;
    border: 0.5em solid currentColor;
    border-right-color: gray;
  }
}

@media screen and (min-width: 750px) {
  .spinner-border {
    width: 3rem;
    height: 3rem;
    border: 0.5em solid currentColor;
    border-right-color: gray;
  }

}

@media screen and (min-width: 1025px) {
  .spinner-border {
    width: 5rem;
    height: 5rem;
    border: 0.5em solid currentColor;
    border-right-color: gray;
  }

}

@media screen and (min-width: 1400px) {
  .spinner-border {
    width: 7rem;
    height: 7rem;
    border: 0.5em solid currentColor;
    border-right-color: gray;
  }

}